/app/proxy/Errors.log.txt
logs/*
!.gitkeep
node_modules/
bower_components/
/app/api_mvc_old
/app/api_old

/__build
/__image
/__vendor
tmp
.DS_Store
/app/bower_components
/app/assets/svgs/svg-icon-default.theme.css.map
/app/proxy/vendor
/app/assets/svgs/svg-icon-default.theme.css
/app/proxy.bak
.idea
/nbproject/private/
__build__
/.build
/.prod
/app/libs
/.dist