<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSideNav" hide-gt-sm flex id="leftSideNav">
    <md-toolbar class="md-primary" layout="row" layout-align="center center">
        <h2 class="md-toolbar-tools">MENU</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeAside()">
            <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
        </md-button>
    </md-toolbar>

    <md-content>
        <ul>
            <li><a ui-sref="root.home" md-ink-ripple class="md-button" ng-click="closeAside()">Home</a></li>
            <li><a ui-sref="root.home" md-ink-ripple class="md-button" ng-click="closeAside()">Show</a></li>
            <li><a ui-sref="root.buildBed" md-ink-ripple class="md-button" ng-click="closeAside()">Build A Bed</a></li>
            <li><a ui-sref="root.home" md-ink-ripple class="md-button" ng-click="closeAside()">About</a></li>
            <li><a ui-sref="root.contact" md-ink-ripple class="md-button" ng-click="closeAside()">Contact</a></li>
        </ul>
        <md-list  style="display: none">
            <md-subheader class="md-no-sticky">Favorites</md-subheader>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
                <p>Messages</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
                <p>Events</p>
                <md-icon class="md-secondary">2</md-icon>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE251;</md-icon>
                <p>Photos</p>
                <md-icon class="md-secondary">2</md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Pages</md-subheader>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
                <p>Pages Feed</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
                <p>Like Pages</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
