<div layout="column" layout-align="center center" class="view-container">
    <div layout="column" layout-fill>
        <div class="steper-sm" layout="row" layout-align="space-between center" layout-fill>
            <a ng-repeat="step in stepDatas" class="step-item" flex
               ng-click="changeStep(step.stepNum)"
               href="javascript:void(0)"
               ng-class="{selected:step.isSelected()}"
               ng-hide="step.isHide()"
            >
                <img ng-src="{{step.img()}}" alt="Step {{step.stepNum}}" hide-xs>
                <span>{{bedData.orientation=='V'? step.stepNum:(step.stepNum==4?3:step.stepNum)}}</span>
                <!--<i class="buty">&nbsp;</i>-->
            </a>
        </div>
        <div class="build-control-sm" layout="column" ng-include="'steps.tpl.html'"></div>
        <md-card id="divBuildBedBg"
                 style="background: url('assets/img/bg-small.jpg') no-repeat center center; height: 670px; border-radius: 0; overflow: hidden"
                 layout="row" layout-fill>
            <div layout="row" flex layout-align="center">
                <div id="eleBuildArea" flex layout="row">
                    <div class="steper" layout="column" layout-align="center center" hide-md hide-sm show-gt-md>
                        <a ng-repeat="step in stepDatas" class="step-item" flex layout-align="center center"
                           ng-click="changeStep(step.stepNum)"
                           layout="column"
                           href="javascript:void(0)"
                           ng-class="{selected:step.isSelected()}"
                           ng-hide="step.isHide()"
                        >
                            <img ng-src="{{step.img()}}" alt="Step {{step.stepNum}}">
                            <span>{{bedData.orientation=='V'? step.stepNum:(step.stepNum==4?3:step.stepNum)}}</span>
                        </a>
                    </div>
                    <!--BUILD CONTROL-->
                    <div class="build-control animate-show-hide" ng-show="isShowPanel" hide-md hide-sm show-gt-md
                         ng-include="'steps.tpl.html'">

                    </div>
                    <!--END BUILD CONTROL-->
                    <!--BED CONTAINER-->
                    <div class="bed-container animate-show-hide"
                         ng-class="{'offset-right':bedData.isRightCabinet,'offset-left':bedData.isLeftCabinet, 'offset-center':!isShowPanel}">
                        <div id="cabinetShadow">
                            <img ng-if="bedData.orientation=='V' && bedData.isLedCabinetLights"
                                 ng-src="assets/img/build-bed/{{bedData.orientation}}/cabinetShadow-{{bedData.isLedCabinetLights?'lights':'noLights'}}.png"
                                 alt="">
                        </div>
                        <div id="mainCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.cabinet}}/{{bedData.orientation}}/cabinet.png"
                                 alt="">
                        </div>
                        <div id="potlights" ng-show="bedData.isLedCabinetLights">
                            <img ng-if="bedData.orientation=='V'" src="assets/img/build-bed/V/potlights.png">
                        </div>
                        <div id="cabinetShadow-left" ng-style="bedData.isLeftCabinet&&{'left':' -112px'}">
                            <img ng-src="assets/img/build-bed/{{bedData.orientation}}/cabinetShadow-left.png">
                        </div>
                        <div id="cabinetShadow-right"
                             ng-style="bedData.isRightCabinet && bedData.orientation=='V' &&{'right':' -112px'}">
                            <img ng-src="assets/img/build-bed/{{bedData.orientation}}/cabinetShadow-right.png">
                        </div>
                        <div id="sideCabinet-left" ng-show="bedData.isLeftCabinet && bedData.orientation=='V'">
                            <img ng-src="assets/img/build-bed/{{bedData.cabinet}}/V/sideCabinet-left.png"
                                 alt="Left Cabinet">
                        </div>
                        <div id="sideCabinet-right" ng-show="bedData.isRightCabinet && bedData.orientation=='V'">
                            <img ng-src="assets/img/build-bed/{{bedData.cabinet}}/V/sideCabinet-right.png"
                                 alt="Right Cabinet">
                        </div>
                        <div id="accessory-upper-left" ng-show="bedData.leftUpperAccessory!=0 && bedData.isLeftCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.leftUpperFinish}}/V/{{bedData.leftUpperAccessory>0?bedData.leftUpperAccessory:1}}-left.png">
                        </div>
                        <div id="accessory-lower-left" ng-show="bedData.leftLowerAccessory!=0 && bedData.isLeftCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.leftLowerFinish}}/V/{{bedData.leftLowerAccessory>0?bedData.leftLowerAccessory:1}}-left.png">
                        </div>
                        <div id="ntable-left" ng-show="bedData.isLeftNightTable && bedData.isLeftCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.leftLowerFinish}}/V/ntable-left.png">
                        </div>
                        <div id="accessory-upper-right"
                             ng-show="bedData.rightUpperAccessory!=0 && bedData.isRightCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.rightUpperFinish}}/V/{{bedData.rightUpperAccessory>0?bedData.rightUpperAccessory:1}}-right.png">
                        </div>
                        <div id="accessory-lower-right"
                             ng-show="bedData.rightLowerAccessory!=0 && bedData.isRightCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.rightLowerFinish}}/V/{{bedData.rightLowerAccessory>0?bedData.rightLowerAccessory:1}}-right.png">
                        </div>
                        <div id="ntable-right" ng-show="bedData.isRightNightTable && bedData.isRightCabinet">
                            <img ng-src="assets/img/build-bed/{{bedData.rightLowerFinish}}/V/ntable-right.png">
                        </div>
                        <div id="headboard">
                            <img ng-if="bedData.cabinet=='V'"
                                 ng-src="assets/img/build-bed/{{bedData.cabinet}}/V/headboard.png">
                        </div>
                        <div id="cabinetDoors" ng-show="isOpenDoors"><img
                                ng-src="assets/img/build-bed/{{bedData.cabinet}}/{{bedData.orientation}}/cabinet-doors.png">
                        </div>
                        <div id="moulding" ng-show="bedData.isMolding && bedData.orientation=='V'">
                            <img ng-if="bedData.orientation=='V'"
                                 ng-src="assets/img/build-bed/{{bedData.cabinet}}/V/moulding.png">
                        </div>
                        <div id="moulding-left" style="display: none;">
                            <img ng-if="bedData.orientation=='V'"
                                 ng-src="assets/img/build-bed/2/{{bedData.orientation}}/moulding-left.png">
                        </div>
                        <div id="moulding-right" style="display: none;">
                            <img ng-if="bedData.orientation=='V'"
                                 ng-src="assets/img/build-bed/2/{{bedData.orientation}}/moulding-right.png">
                        </div>
                        <div id="bedopen2" class="bed-open-close animate-show-hide" ng-show="isOpenUnit2"><img
                                ng-src="assets/img/build-bed/{{bedData.cabinet}}/V/open2.png"></div>
                        <div id="bedopen" class="bed-open-close animate-show-hide" ng-show="isOpenUnit"><img
                                ng-src="assets/img/build-bed/{{bedData.orientation}}/open-nolights.png"></div>
                        <div id="bedFront"></div>
                    </div>
                    <!--END BED CONTAINER-->

                    <div id="eleToggleCloseOpenBed">
                        <md-button class="md-raised" ng-click="setDelay()">
                            <md-icon class="ton-li-upload-1"></md-icon>
                            <span>OPEN/CLOSE UNIT</span>
                        </md-button>
                    </div>
                </div>

            </div>

        </md-card>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>


</div>
<script type="text/ng-template" id="steps.tpl.html">
    <!--Step 1-->
    <section id="eleStep1" ng-show="currentStep==1">
        <h3 class="md-display-1">STEP 1</h3>
        <h5 class="md-subhead">Choose your size, frame, and orientation</h5>
        <h4 class="sub-option">ORIENTATION</h4>
        <md-radio-group class="border" layout="row" ng-model="bedData.orientation"
                        layout-align="start center">
            <md-radio-button ng-repeat="item in orientations" ng-value="item.value"
                             name="{{::item.name}}"
                             flex>
                {{::item.name}}
            </md-radio-button>
        </md-radio-group>
        <h4 class="sub-option">MURPHY BED SIZE</h4>
        <div class="note">Note: size changes not shown in preview, but reflected in dimensions
            below
        </div>
        <div class="border">
            <md-radio-group layout="row" ng-model="bedData.size">
                <md-radio-button ng-repeat="item in sizes" ng-value="item.value"
                                 name="{{::item.name}}"
                                 flex>
                    {{::item.name}}
                </md-radio-button>
            </md-radio-group>
        </div>


        <h4 class="sub-option">MURPHY BED FRAME </h4>
        <md-radio-group class="border" layout="row" ng-model="bedData.frame">
            <md-radio-button ng-repeat="item in frames" ng-value="item.value" name="{{::item.name}}"
                             flex>
                {{::item.name}}
            </md-radio-button>
        </md-radio-group>

        <h4 class="sub-option">LEG HEIGHT </h4>
        <md-radio-group class="border" layout="row" ng-model="bedData.legHeight">
            <md-radio-button ng-repeat="item in legHeights" ng-value="item.value"
                             name="{{::item.name}}"
                             flex>
                {{::item.name}}
            </md-radio-button>
        </md-radio-group>
    </section>
    <!--End Step 1-->

    <!--Step 2-->
    <section id="eleStep2" ng-show="currentStep==2">
        <h3 class="md-display-1">STEP 2</h3>
        <h5 class="md-subhead">Cabinet & panel finish </h5>
        <h4 class="sub-option">CABINET FINISH</h4>
        <div class="border">
            <md-radio-group class="md-primary" layout="row" ng-model="bedData.cabinetGroup"
                            layout-align="space-between center">
                <md-radio-button ng-repeat="item in cabinetGroups" ng-value="item.value"
                                 name="{{::item.name}}">
                    {{::item.name}}
                </md-radio-button>
            </md-radio-group>
            <md-radio-group class="sub-rad-group" layout="column"
                            ng-model="bedData.cabinet">
                <md-radio-button ng-repeat="item in cabinets | filter:bedData.cabinetGroup"
                                 ng-value="item.value" name="{{::item.name}}"
                                 flex>
                    {{::item.name}}
                </md-radio-button>
            </md-radio-group>
        </div>
    </section>
    <!--End Step 2-->

    <!--Step 3-->
    <section id="eleStep3" ng-show="currentStep==3">
        <h3 class="md-display-1">STEP 3</h3>
        <h5 class="md-subhead">Side cabinets & accessories </h5>
        <div layout="row" flex style="margin-top: 20px">
            <div layout="column" flex>
                <md-checkbox ng-model="bedData.isLeftCabinet">{{::'Left cabinet'|uppercase}}
                </md-checkbox>
                <md-input-container>
                    <label>UPPER ACCESSORY</label>
                    <md-select ng-model="bedData.leftUpperAccessory">
                        <md-option ng-repeat="item in upperAccessories" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>UPPER FINISH</label>
                    <md-select ng-model="bedData.leftUpperFinish">
                        <md-option ng-repeat="item in upperFinishes" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-checkbox ng-model="bedData.isLeftNightTable">{{'Night Table'|uppercase}}
                </md-checkbox>

                <md-input-container>
                    <label>LOWER ACCESSORY</label>
                    <md-select ng-model="bedData.leftLowerAccessory">
                        <md-option ng-repeat="item in lowerAccessories" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>LOWER FINISH</label>
                    <md-select ng-model="bedData.leftLowerFinish">
                        <md-option ng-repeat="item in lowerFinishes" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>


            </div>
            <div style="width: 20px"></div>
            <div layout="column" flex _style="border-left: 1px solid #ffff00;">
                <md-checkbox ng-model="bedData.isRightCabinet">{{'Right cabinet'|uppercase}}
                </md-checkbox>
                <md-input-container>
                    <label>UPPER ACCESSORY</label>
                    <md-select ng-model="bedData.rightUpperAccessory">
                        <md-option ng-repeat="item in upperAccessories" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>UPPER FINISH</label>
                    <md-select ng-model="bedData.rightUpperFinish">
                        <md-option ng-repeat="item in upperFinishes" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-checkbox ng-model="bedData.isRightNightTable">{{'Night Table'|uppercase}}
                </md-checkbox>

                <md-input-container>
                    <label>LOWER ACCESSORY</label>
                    <md-select ng-model="bedData.rightLowerAccessory">
                        <md-option ng-repeat="item in lowerAccessories" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>LOWER FINISH</label>
                    <md-select ng-model="bedData.rightLowerFinish">
                        <md-option ng-repeat="item in lowerFinishes" ng-value="item.value">
                            {{::item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

    </section>
    <!--End Step 3-->

    <!--Step 4-->
    <section id="eleStep4" ng-show="currentStep==4">
        <h3 class="md-display-1">STEP 4</h3>
        <h5 class="md-subhead">Handles, molding & lighting</h5>
        <div layout="column" flex>
            <h4 class="sub-option">HANDLES </h4>
            <div class="note">Note: size changes not shown in preview, but reflected in dimensions
                below
            </div>
            <div class="border">
                <md-radio-group class="md-primary" layout="row"
                                layout-align="start center" ng-model="bedData.handleType">
                    <md-radio-button ng-repeat="item in handleTypes" ng-value="item.value"
                                     name="{{::item.name}}"
                                     style="text-align: center">
                        {{::item.name}}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <md-radio-group class="md-primary" layout="column" ng-model="bedData.handle">
                <ol style="list-style: none; margin: 10px 0 0 0; padding: 0 0 0 10px">
                    <li ng-repeat="item in handles | filter:bedData.handleType">
                        <md-radio-button ng-value="item.value" name="{{::item.name}}"
                                         style="margin: 0">
                            {{::item.name}}
                        </md-radio-button>
                    </li>
                </ol>

            </md-radio-group>
            <br/>
            <md-checkbox ng-model="bedData.isMolding">MOLDING</md-checkbox>
            <md-checkbox ng-model="bedData.isLedCabinetLights" ng-click="setDelay(true)">LED CABINET
                LIGHTS
            </md-checkbox>
            <h3 class="you-done">You’re done. It looks great!</h3>
            <div layout="row" layout-align="center">
                <md-button class="md-accent md-raised add-to-cart">
                    <md-icon class="ti-shopping-cart-full"></md-icon>
                    ADD TO CART
                </md-button>
            </div>
        </div>
    </section>
    <!--End Step 4-->
</script>