<footer layout="column">
    <div layout="row" layout-align="center" layout-align-sm="space-between" flex layout-sm="column" layout-fill>
        <div flex-gt-md="70" flex-md="100" flex-sm="100" flex-xs="100" layout="column" class="container">
            <div layout-gt-md="row" layout-md="row" layout-gt-xs="column">
                <div class="footer-col first" flex-lg="40" flex-gt-lg="40" flex-md="100" flex-gt-xs="100">
                    <a href="/" class="comp-name">
                        <md-icon md-svg-src="assets/img/logo.svg" class="logo-icon"></md-icon>
                        <span>BED STORE</span></a>
                    <div>
                        <div class="f-title">Call Us</div>
                        <div class="f-hotline">0167 459 3343</div>
                        <div class="f-title">Visit us showroom</div>
                        <div class="f-address">123 Quang Trung St., 11 Ward, Q.Go Vap Dist, HCM City</div>
                        <div class="f-address">contact@bedstore.com</div>
                    </div>
                </div>
                <div class="footer-col" flex-lg="30" flex-gt-lg="30" flex-md="50" flex-gt-xs="100" layout="column">
                    <h5 class="f-col-title">Our services</h5>
                    <div layout="column" class="f-menu">
                        <a ui-sref="root.home" flex>Home</a>
                        <a ui-sref="root.home" flex>Show</a>
                        <a ui-sref="root.buildBed" flex>Build a bed</a>
                        <a ui-sref="root.home" flex>About</a>
                        <a ui-sref="root.contact" flex>Contact</a>
                    </div>
                </div>
                <div class="footer-col last" flex-lg="30" flex-gt-lg="30" flex-md="50" flex-gt-xs="100" layout="column">
                    <h5 class="f-col-title">Connect with us</h5>
                    <div layout="column" class="f-menu">
                        <a href="#" flex>
                            <md-icon class="ti-facebook"></md-icon>
                            &nbsp;<span>Facebook</span></a>
                        <a href="#" flex>
                            <md-icon class="ti-twitter"></md-icon>
                            &nbsp;<span>Twitter</span></a>
                        <a href="#" flex>
                            <md-icon class="ti-linkedin"></md-icon>
                            &nbsp;<span>Linkedin</span></a>
                    </div>
                </div>
            </div>
            <div flex-offset="40" layout="row">
                <div flex layout-padding layout="row" layout-align="end center">
                    <img src="assets/img/paypal.jpg" alt="Payment">
                </div>
            </div>
        </div>

    </div>
    <div class="sub-footer" layout="row" layout-align="center center" >
        <div flex-gt-md="70" flex-md="100" flex-sm="100" flex-xs="100" layout="row" layout-sm="column" class="container">
            <div flex flex-sm="100" layout-padding>
                &copy; BED STORE 2015. All rights reserved.
            </div>
            <div flex flex-sm="100" layout-align-md="end center" layout-align-gt-md="end center" layout-align-sm="none center" class="right" layout-padding layout="row">
                <div>Developed by <a href="#">ng-webs Media.</a></div>
            </div>
        </div>

    </div>
</footer>
